<footer class="bg-black py-2">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-4">
      <p class="text-center text-white fw-bold">Redes</p>
      <div class="d-flex justify-content-center">
        <i class="bi bi-instagram text-white me-2"></i>
        <i class="bi bi-youtube text-white me-2"></i>
        <i class="bi bi-facebook text-white"></i>
      </div>
    </div>
    <div class="col-4">
      <p class="text-center text-white fw-bold">Contacto</p>
      <p class="text-center text-white fw-bold">
        <i class="bi bi-whatsapp text-white me-2"></i>+1 111 111 11
      </p>
    </div>
    <div class="col-4">
      <p class="text-white">Testimonios</p>
      <p class="text-white">Servicios</p>
      <p class="text-white">Sobre mi</p>
    </div>
  </div>
</footer>
